# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{cs,csx}]
indent_size = 4

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = silent

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = suggestion

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false

[Makefile]
indent_style = tab

